span.score {
  float: right;
}

span.gameTweet {
  float: right;
}

a.tweetLink {
  cursor: pointer;
}

.game {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid;  
  border-radius: 4px;
}
.game.Scheduled {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.game.Progress, .game.Overtime, .game.Shootout {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.game.Intermission {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.game.Final {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}